name: Build ExtremeKRNL Waltuh Edition

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04

    strategy:
      fail-fast: false
      matrix:
        target: [c2slte]

    steps:
      - name: Checkout source
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Set up build environment
        run: |
          sudo apt update
          DEBIAN_FRONTEND=noninteractive sudo apt install -yq \
            p7zip-full jq attr ccache clang ffmpeg golang \
            libbrotli-dev libgtest-dev libprotobuf-dev libunwind-dev libpcre2-dev \
            libzstd-dev linux-modules-extra-$(uname -r) lld protobuf-compiler webp \
            curl xxd patchelf flex bison libarchive-tools build-essential pcre2-utils
          sudo modprobe erofs f2fs
          git config --global user.name "github-actions[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"

      - name: Free disk space
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo apt clean

      - name: Make build script executable
        run: chmod +x build.sh

      - name: Build kernel (${{ matrix.target }})
        run: |
          ./build.sh -m ${{ matrix.target }} -k y -r n

      - name: Upload artifact (${{ matrix.target }})
        uses: actions/upload-artifact@v4
        with:
          name: kernel-${{ matrix.target }}
          path: build/out/${{ matrix.target }}/*.zip
